In [2]:
import numpy as np
import pandas as pd
import json
import os        
import gmaps
import pyproj
from pyproj import Proj, transform
import gmaps
import gmaps.datasets
import numpy as np
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#impotring data into list tweet seperated

file = 'airlines-1464602228450.json'
tweets = []
with open(file,'r') as f:
    for line in f:
        try:
            tweet = json.loads(line)
            tweets.append(tweet)
        except:
            pass
print('job done')

job done

In [4]:
#construct dataframe from tweets
df = pd.DataFrame(tweets)

In [5]:
#first 5 lines
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id_str,retweet_count,retweeted,retweeted_status,scopes,source,text,timestamp_ms,truncated,user
0,None,None,Mon May 30 09:57:15 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,0,False,low,None,737221323764666368,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Neu im Blog: Mit Airberlin Non-Stop auf die Az...,1464602235152,False,"{'id': 258509230, 'id_str': '258509230', 'name..."
1,None,None,Mon May 30 09:57:21 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...","{'media': [{'id': 737220805080317952, 'id_str'...",0,False,low,None,737221351526825984,...,NaN,0,False,{'created_at': 'Mon May 30 09:55:11 +0000 2016...,NaN,"<a href=""http://www.twitter.com"" rel=""nofollow...",RT @DiarioTalCual: VIAJAR ESTÁ DÍFICIL. Luftha...,1464602241771,False,"{'id': 1460866802, 'id_str': '1460866802', 'na..."
2,None,None,Mon May 30 09:57:27 +0000 2016,"{'hashtags': [{'text': 'PorAhora', 'indices': ...",NaN,0,False,low,None,737221373572087808,...,NaN,0,False,{'created_at': 'Mon May 30 09:55:11 +0000 2016...,NaN,"<a href=""http://www.twitter.com"" rel=""nofollow...",RT @Venezolanonews: #PorAhora Línea aérea alem...,1464602247027,False,"{'id': 1460866802, 'id_str': '1460866802', 'na..."
3,None,None,Mon May 30 09:57:29 +0000 2016,"{'hashtags': [{'text': 'aircargo', 'indices': ...",NaN,0,False,low,None,737221384775041024,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",Lufthansa stops Caracas flights again: https:/...,1464602249698,False,"{'id': 25056037, 'id_str': '25056037', 'name':..."
4,None,None,Mon May 30 09:57:34 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,0,False,low,None,737221406946103296,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Lufthansa owed over $100 million in Venezuela ...,1464602254984,False,"{'id': 140821265, 'id_str': '140821265', 'name..."

In [6]:
#only take variable coordinates and only take non-None values
'''test = df['coordinates'][df['coordinates'].isnull() == False]

coords = []

for k,v in test.iteritems():
    c = v['coordinates']
    long = c[0]
    lat = c[1]
    c[0] = lat
    c[1] = long
    
    coords.append(c)
    
coords = np.array(coord_array)
print(coords)'''

"test = df['coordinates'][df['coordinates'].isnull() == False]\n\ncoords = []\n\nfor k,v in test.iteritems():\n    c = v['coordinates']\n    long = c[0]\n    lat = c[1]\n    c[0] = lat\n    c[1] = long\n    \n    coords.append(c)\n    \ncoords = np.array(coord_array)\nprint(coords)"

In [15]:
database = sqlite3.connect('data/myd.sqlite3')

airlines = {
    "KLM" : "56377143",
    "Air_France" : "106062176",
    "British_Airways" : "18332190",
    "American_Air" : "22536055",
    "Lufthansa" : "124476322",
    "Air_Berlin" : "26223583",
    "Air_Berlin_Assist": "2182373406",
    "easyJet": "38676903",
    "Ryanair": "1542862735",
    "Singapore_Air": "253340062",
    "Qantas": "218730857",
    "Etihad_Airways": "45621423",
    "Virgin_Atlantic": "20626359"}

In [16]:
def get_coordinates(user_name, airlines_id, date_start= "2016-03-01 00:00:00", date_end="2017-05-01 00:00:00"):
    '''
    Gets the longitude, latitude for the amount of tweets sent by the user in the given timespan
    :param user_name: String of the username of twitter user
    :param airlines_id: String of ID of twitter user
    :param date_start: Datetime string in YYYY-MM-DD HH:MM:SS format
    :param date_end: Datetime string in YYYY-MM-DD HH:MM:SS format
    :return: Returns dataframe which contains the longitude and latitude of the incoming volume of a selected user
    '''
    query = """
        SELECT latitude, longitude
        FROM tweets
        WHERE (text LIKE '%{}%' OR in_reply_to_user_id == {})
        AND datetime(created_at) >= datetime('{}')
        AND datetime(created_at) < datetime('{}');
            """.format(user_name, airlines_id, date_start, date_end)
 
    return pd.read_sql_query(query, database)

In [17]:
#Longitude, latitude for incoming volume for American Air
locations_df = get_coordinates(user_name="American_Air", airlines_id= airlines["American_Air"])
locations_df = locations_df.dropna() #Only take non NaN values
locations_df #Only 525 tweets with location for American Airlines

         latitude   longitude
738     32.904290  -97.036228
1604   -23.427168  -46.481214
2972    41.974015  -87.898209
2997    32.904290  -97.036228
3164   -34.608400  -58.373200
4653    14.593011  -61.001458
4750    41.974297  -87.903259
4884    40.647734  -73.790695
6080   -23.424326  -46.476531
6669    25.798195  -80.273377
6958    32.902339  -97.040946
7110    40.648319  -73.791419
7340    37.617155 -122.382674
7502    41.978924  -87.910001
9094    41.974416  -87.897143
9103    41.974443  -87.897080
9689    37.617087 -122.382545
10375   47.446458 -122.299645
10507   35.876002  -78.792967
10953   29.529437  -98.470536
11011   25.798195  -80.273377
11504  -23.424326  -46.476531
12747   32.904290  -97.036228
12767   33.941364 -118.406774
13164   25.798195  -80.273377
13398   36.008289 -115.165278
13469   25.798195  -80.273377
13613   25.797481  -80.277782
14490   33.646882  -84.452983
14695   37.617155 -122.382674
...           ...         ...
235056  40.648356  -73.791040
235101  40.648356  -73.791040
235830  40.648356  -73.791040
236221  38.636518  -90.553698
236880   7.839662   98.297004
239694  36.061927  -80.307521
239777  36.061927  -80.307521
240812  32.895642  -97.036486
241065  32.902040  -97.042070
241455  26.688291  -80.090898
242066  41.973056  -87.900465
242071  32.904290  -97.036228
242137  40.646469  -73.784409
242199  25.973075  -79.943856
243287  41.974256  -87.897046
243702  40.648356  -73.791040
243744  40.648356  -73.791040
244114  40.648356  -73.791040
244285  25.239726  -77.376945
245561  32.885474  -80.037484
245572  32.904290  -97.036228
246035  39.748600  -75.551600
246407   4.701034  -74.142699
246431   4.700699  -74.142523
247195 -20.867537 -106.816242
247209  35.219976  -80.939673
248058  32.899831  -97.042395
248339  33.941364 -118.406774
249738  32.904290  -97.036228
249986  40.648356  -73.791040

[525 rows x 2 columns]

In [21]:
gmaps.configure(api_key="AIzaSyCcKPoKXZoUCvXi7D8ylVAdqnNL5OTdznU") # Your Google API key
fig1 = gmaps.figure()
fig1.add_layer(gmaps.heatmap_layer(locations_df))
fig1

Figure(layout=FigureLayout(height='420px'))

In [22]:
def get_all_coordinates():
    query ="""
    SELECT latitude, longitude 
    FROM tweets
    """
    return pd.read_sql_query(query, database)

all_locations_df = get_all_coordinates()
all_locations_df = all_locations_df.dropna() #20983 tweets with location

In [23]:
gmaps.configure(api_key="AIzaSyCcKPoKXZoUCvXi7D8ylVAdqnNL5OTdznU") # Your Google API key

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(all_locations_df))
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#airport data
df_airports = pd.read_csv(r'C:\Users\20175876\Documents\DC1 (1)\airports.csv', header=None, sep=',')
df_airports.columns = ['airport_id', 'name', 'city', 'country', 'iata', 'icao', 'latitude', 'longitude', 'altitude', 'timezone', 'dst', 'tz', 'type airport', 'source']
df_airports_loc = df_airports[['longitude','latitude', 'altitude']]

df_airports_loc.head() #7184 airports

df_airports_loc.isnull().sum() #No missing values 

airport_layer = gmaps.symbol_layer(df_airports_loc[['latitude', 'longitude']], fill_color='green', stroke_color='green', scale=1)
fig.add_layer(airport_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
df_airports_loc['altitude']

0       5282
1         20
2       5388
3        239
4        146
5         19
6        112
7        283
8        165
9        251
10         6
11        76
12        24
13        48
14         8
15       171
16        11
17        48
18        10
19       326
20       630
21       760
22       144
23       108
24        80
25        56
26        71
27       522
28        59
29       346
        ...
7154     254
7155      54
7156    1492
7157     180
7158    1560
7159      45
7160     782
7161      40
7162      31
7163     173
7164     807
7165     584
7166     878
7167     504
7168     397
7169     669
7170      72
7171     859
7172    1267
7173       0
7174       0
7175     141
7176    2945
7177    3205
7178     100
7179       0
7180       0
7181       0
7182       0
7183       0
Name: altitude, Length: 7184, dtype: int64