In [1]:
import numpy as np
import pandas as pd
import json
import os        
import gmaps
import pyproj
from pyproj import Proj, transform
import gmaps
import gmaps.datasets
import numpy as np
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re

In [2]:
#impotring data into list tweet seperated

file = 'airlines-1464602228450.json'
tweets = []
with open(file,'r') as f:
    for line in f:
        try:
            tweet = json.loads(line)
            tweets.append(tweet)
        except:
            pass
print('job done')

job done

In [3]:
#construct dataframe from tweets
df = pd.DataFrame(tweets)

In [4]:
#first 5 lines
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id_str,retweet_count,retweeted,retweeted_status,scopes,source,text,timestamp_ms,truncated,user
0,None,None,Mon May 30 09:57:15 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,0,False,low,None,737221323764666368,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Neu im Blog: Mit Airberlin Non-Stop auf die Az...,1464602235152,False,"{'id': 258509230, 'id_str': '258509230', 'name..."
1,None,None,Mon May 30 09:57:21 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...","{'media': [{'id': 737220805080317952, 'id_str'...",0,False,low,None,737221351526825984,...,NaN,0,False,{'created_at': 'Mon May 30 09:55:11 +0000 2016...,NaN,"<a href=""http://www.twitter.com"" rel=""nofollow...",RT @DiarioTalCual: VIAJAR ESTÁ DÍFICIL. Luftha...,1464602241771,False,"{'id': 1460866802, 'id_str': '1460866802', 'na..."
2,None,None,Mon May 30 09:57:27 +0000 2016,"{'hashtags': [{'text': 'PorAhora', 'indices': ...",NaN,0,False,low,None,737221373572087808,...,NaN,0,False,{'created_at': 'Mon May 30 09:55:11 +0000 2016...,NaN,"<a href=""http://www.twitter.com"" rel=""nofollow...",RT @Venezolanonews: #PorAhora Línea aérea alem...,1464602247027,False,"{'id': 1460866802, 'id_str': '1460866802', 'na..."
3,None,None,Mon May 30 09:57:29 +0000 2016,"{'hashtags': [{'text': 'aircargo', 'indices': ...",NaN,0,False,low,None,737221384775041024,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",Lufthansa stops Caracas flights again: https:/...,1464602249698,False,"{'id': 25056037, 'id_str': '25056037', 'name':..."
4,None,None,Mon May 30 09:57:34 +0000 2016,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,0,False,low,None,737221406946103296,...,NaN,0,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Lufthansa owed over $100 million in Venezuela ...,1464602254984,False,"{'id': 140821265, 'id_str': '140821265', 'name..."

In [5]:
#only take variable coordinates and only take non-None values
'''test = df['coordinates'][df['coordinates'].isnull() == False]

coords = []

for k,v in test.iteritems():
    c = v['coordinates']
    long = c[0]
    lat = c[1]
    c[0] = lat
    c[1] = long
    
    coords.append(c)
    
coords = np.array(coord_array)
print(coords)'''

"test = df['coordinates'][df['coordinates'].isnull() == False]\n\ncoords = []\n\nfor k,v in test.iteritems():\n    c = v['coordinates']\n    long = c[0]\n    lat = c[1]\n    c[0] = lat\n    c[1] = long\n    \n    coords.append(c)\n    \ncoords = np.array(coord_array)\nprint(coords)"

In [6]:
database = sqlite3.connect('data/myd.sqlite3')

airlines = {
    "KLM" : "56377143",
    "Air_France" : "106062176",
    "British_Airways" : "18332190",
    "American_Air" : "22536055",
    "Lufthansa" : "124476322",
    "Air_Berlin" : "26223583",
    "Air_Berlin_Assist": "2182373406",
    "easyJet": "38676903",
    "Ryanair": "1542862735",
    "Singapore_Air": "253340062",
    "Qantas": "218730857",
    "Etihad_Airways": "45621423",
    "Virgin_Atlantic": "20626359"}

In [7]:
def get_coordinates(user_name, airlines_id, date_start= "2016-03-01 00:00:00", date_end="2017-05-01 00:00:00"):
    '''
    Gets the longitude, latitude for the amount of tweets sent by the user in the given timespan
    :param user_name: String of the username of twitter user
    :param airlines_id: String of ID of twitter user
    :param date_start: Datetime string in YYYY-MM-DD HH:MM:SS format
    :param date_end: Datetime string in YYYY-MM-DD HH:MM:SS format
    :return: Returns dataframe which contains the longitude and latitude of the incoming volume of a selected user
    '''
    query = """
        SELECT text, latitude, longitude
        FROM tweets
        WHERE (text LIKE '%{}%' OR in_reply_to_user_id == {})
        AND datetime(created_at) >= datetime('{}')
        AND datetime(created_at) < datetime('{}');
            """.format(user_name, airlines_id, date_start, date_end)
 
    return pd.read_sql_query(query, database)

In [8]:
#Longitude, latitude for incoming volume for American Air
df_aa = get_coordinates(user_name="American_Air", airlines_id= airlines["American_Air"])
df_aa = df_aa.dropna() #Only take non NaN values
df_aa #Only 525 tweets with location for American Airlines
df_aa_loc = df_aa[['latitude', 'longitude']]

In [9]:
gmaps.configure(api_key="AIzaSyCcKPoKXZoUCvXi7D8ylVAdqnNL5OTdznU") # Your Google API key
fig1 = gmaps.figure()
fig1.add_layer(gmaps.heatmap_layer(df_aa_loc))
fig1

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig2 = gmaps.figure()
volume_layer = gmaps.symbol_layer(df_aa_loc, fill_color='blue', stroke_color='blue', scale=1)
fig2.add_layer(layer=volume_layer)
fig2

Figure(layout=FigureLayout(height='420px'))

In [11]:
def get_all_coordinates():
    query ="""
    SELECT latitude, longitude 
    FROM tweets
    """
    return pd.read_sql_query(query, database)

all_locations_df = get_all_coordinates()
all_locations_df = all_locations_df.dropna() #20983 tweets with location

In [12]:
gmaps.configure(api_key="AIzaSyCcKPoKXZoUCvXi7D8ylVAdqnNL5OTdznU") # Your Google API key

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(all_locations_df))
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#airport data
df_airports = pd.read_csv(r'C:\Users\20175876\Documents\DC1 (1)\airports.csv', header=None, sep=',')
df_airports.columns = ['airport_id', 'name', 'city', 'country', 'iata', 'icao', 'latitude', 'longitude', 'altitude', 'timezone', 'dst', 'tz', 'type airport', 'source']
df_airports_loc = df_airports[['longitude','latitude', 'altitude']]

df_airports_loc.head() #7184 airports

df_airports_loc.isnull().sum() #No missing values 

df_airports_loc.head()

    longitude  latitude  altitude
0  145.391998 -6.081690      5282
1  145.789001 -5.207080        20
2  144.296005 -5.826790      5388
3  146.725977 -6.569803       239
4  147.220001 -9.443380       146

In [24]:
fig = gmaps.figure()
airport_layer = gmaps.symbol_layer(df_airports_loc[['latitude', 'longitude']], fill_color='green', stroke_color='green', scale=1)
fig.add_layer(airport_layer)
fig

NameError: name 'df_airports' is not defined

In [13]:
df_aa.head()

                                                   text   latitude  longitude
738   Snack time!!! And I'm starving!! (@ American A...  32.904290 -97.036228
1604  I'm at Voo American Airlines AA 216 - @america... -23.427168 -46.481214
2972  @AmericanAir playing @LittleDragon before take...  41.974015 -87.898209
2997  I'm at American Airlines Admirals Club DFW-A -...  32.904290 -97.036228
3164  American Airlines, @americanair es ahora una t... -34.608400 -58.373200

In [14]:
#open sentiment file
df_sentiment = pd.read_csv(r'C:\Users\20175876\Documents\DC1 (1)\sentiment_AA.csv', sep=',')
df_sentiment = df_sentiment[['text', 'sentiment']]
df_sentiment.columns = ['new_text', 'sentiment']
df_sentiment.head() #815815 rows

                                            new_text  sentiment
0  rt AT_USER 35 pearlharbor survivors and 72 vet...     0.4404
1  rt AT_USER wtf AT_USER ? canceled my flight w/...    -0.6322
2  rt AT_USER having a little fun before boarding...     0.4601
3  AT_USER how do i submit an above and beyond fo...     0.6249
4  AT_USER group, inc. (nasdaq:aal) earnings take...     0.0000

In [15]:
def processTweet(tweet):
        # process the tweets
     
        #Convert to lower case
        tweet = tweet.lower()
        #Convert www.* or https?://* to URL
        tweet = re.sub('((www.[^\s]+)|(https?://[^\s]+))','URL',tweet)
        #Convert @username to AT_USER
        tweet = re.sub('@[^\s]+','AT_USER',tweet)
        #Remove additional white spaces
        tweet = re.sub('[\s]+', ' ', tweet)
        #Replace #word with word
        tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
        #trim
        return tweet

In [16]:
#cleaned the text, new column called new_text
new_text = []
for tweet in df_aa.text:
    new_text.append(processTweet(tweet))

df_aa['new_text'] = new_text

In [17]:
df_aa.head()

,text,latitude,longitude,new_text
738,Snack time!!! And I'm starving!! (@ American A...,32.904290,-97.036228,snack time!!! and i'm starving!! (@ american a...
1604,I'm at Voo American Airlines AA 216 - @america...,-23.427168,-46.481214,i'm at voo american airlines aa 216 - AT_USER ...
2972,@AmericanAir playing @LittleDragon before take...,41.974015,-87.898209,AT_USER playing AT_USER before takeoff.. winni...
2997,I'm at American Airlines Admirals Club DFW-A -...,32.904290,-97.036228,i'm at american airlines admirals club dfw-a -...
3164,"American Airlines, @americanair es ahora una t...",-34.608400,-58.373200,"american airlines, AT_USER es ahora una tenden..."

In [18]:
#merge two dataframes
df_loc_sent = df_aa.merge(df_sentiment, how='outer', on='new_text')

In [19]:
df_loc_sent = df_loc_sent[['latitude', 'longitude', 'new_text', 'sentiment']] #remove old text
df_loc_sent.latitude.isnull().sum().sum() #813654
df_loc_sent.longitude.isnull().sum().sum() #813654
df_loc_sent.sentiment.isnull().sum().sum() #50

50

In [20]:
df_loc_sent = df_loc_sent.dropna(subset=['longitude', 'latitude', 'sentiment'])
df_loc_sent['sentiment'] = df_loc_sent['sentiment'] + 1
df_loc_sent.head() #4403 tweets

,latitude,longitude,new_text,sentiment
0,32.904290,-97.036228,snack time!!! and i'm starving!! (@ american a...,0.6456
1,-23.427168,-46.481214,i'm at voo american airlines aa 216 - AT_USER ...,1.0000
2,-23.427168,-46.481214,i'm at voo american airlines aa 216 - AT_USER ...,1.0000
3,-23.427168,-46.481214,i'm at voo american airlines aa 216 - AT_USER ...,1.0000
4,41.974015,-87.898209,AT_USER playing AT_USER before takeoff.. winni...,1.8020

In [55]:
fig2 = gmaps.figure()
locations = df_loc_sent[['latitude', 'longitude']]
weights = df_loc_sent['sentiment']
fig2.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=70, point_radius=5, opacity=0.5, gradient=[ 'white', 'red', 'green']))
fig2

Figure(layout=FigureLayout(height='420px'))

In [22]:
fig3 = gmaps.figure()
volume = gmaps.symbol_layer(locations, fill_color='blue', stroke_color='blue', scale=2)
fig3.add_layer(volume)
fig3

Figure(layout=FigureLayout(height='420px'))

In [43]:
df_positive = df_loc_sent.loc[df_loc_sent['sentiment'] > 1.33] #3103
df_negative = df_loc_sent.loc[df_loc_sent['sentiment'] < 0.76] #77
df_neutral = df_loc_sent[(df_loc_sent['sentiment'] >= 0.76) & (df_loc_sent['sentiment'] <= 1.33)] #1223

loc_positive = df_positive[['latitude', 'longitude']]
loc_negative = df_negative[['latitude', 'longitude']]
loc_neutral = df_neutral[['latitude', 'longitude']]

In [45]:
fig4 = gmaps.figure()
sent_positive = gmaps.symbol_layer(loc_positive, fill_color='green', stroke_color='green', scale=2)
sent_negative = gmaps.symbol_layer(loc_negative, fill_color='red', stroke_color='red', scale=2)
sent_neutral = gmaps.symbol_layer(loc_neutral, fill_color= 'blue', stroke_color='blue', scale=2)
fig4.add_layer(sent_positive)
fig4.add_layer(sent_negative)
fig4.add_layer(sent_neutral)
fig4

Figure(layout=FigureLayout(height='420px'))